body {
  text-align: center;
  background-color: lightcyan;
}

div {
  margin-top: 15px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

